@font-face {
  font-family: "norsebold";
  src: url("font/norse-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-color-logo: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  max-width: 1200px;
  min-height: 100vh;
  margin-inline: auto;
}

img {
  max-height: 100%;
}

a {
  all: unset;
  cursor: pointer;
  transition: font-weight 150ms;
}

a:link {
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-block: 0.2rem;
}

input {
  border: 1px solid #0003;
  font: inherit;
  padding: 10px 20px;
  border-radius: 7px;
  transition: border-color 150ms;
}

input:focus-visible {
  outline: 0;
  border-color: #000;
}

input:invalid {
  border-color: red;
}

button {
  border: none;
  font: inherit;
  background-color: #596d48;
  border-radius: 7px;
  font-size: 1.5rem;
  padding: 10px 15px;
}

.container {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 0 0 5px #0005;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url(assets/leaves-unsplash.jpg);
  background-size: cover;
  color: var(--text-color-logo);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 150px;
}

.logo h1 {
  font-family: "norsebold", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

.photo-credits {
  text-align: center;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-inline-start: 40px;
  gap: 40px;
}

.right > * {
  flex: 1;
}

.form-container {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-row > div > label {
  flex: 1;
}

.form-row > div > input {
  flex: 2;
}

.right-top {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.right-bottom {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
